<style type="text/css">
	#infolist {
		font-size: xx-large;
		list-style-type: none
	}
</style>

<div class="jumbotron col-md-12">
<ul id="infolist">
	<li>240-383-6492</li>
	<li>profcolle@gmail.com</li>
</ul>



</div>




